$grey-color: #EEEEEE;
$grey-background-color: #F5F5F5;

.main-app {
  .modal-window {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    z-index: 9999;
    background-color: $grey-background-color;
    opacity: 0.5;

  }
  .modal {
      position: absolute;
      top:50%;
      z-index: 99999;
      height: 20%;
      width: 50vw;
      margin: auto;
      left: 0;
      right: 0;
      background-color: $grey-color;
      border-radius: 2px;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      box-sizing: border-box;
      font-family: Roboto, sans-serif;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
      padding: 16px;
      text-align: center;
      opacity: 1;
    }
}