.city-card {
  .weather-block {
    margin: 16px;
  }
  .weather-div {
    width: 20%;
    margin: auto;
    display: inline-block;
    div {
      text-align: center;
      color: white;
    }
    .weather {
      font-size: 24px;
    }
  }
}