.city-card .weather-block {
  margin: 16px; }

.city-card .weather-div {
  width: 20%;
  margin: auto;
  display: inline-block; }
  .city-card .weather-div div {
    text-align: center;
    color: white; }
  .city-card .weather-div .weather {
    font-size: 24px; }
